/* styles for the player hud */

.RootPanel {
    width: 1045px;
	height: 180px;
}

.CommentaryHUD {
    background-color: #333333;
    flow-children: right;
    padding: 18px;
}

.PlayBox {
    width: 144px;
    height: 144px;
    vertical-align: middle;
    background-color: #474136;
}

.PlayBoxInternal {
    width: 100%;
    height: 100%;
    margin: 19px;
    horizontal-align: center;
    vertical-align: middle;
    border: 1px solid #6C5A3C;
}

.CurrentNodeBox {
    width: 720px;
    height: 144px;
    background-color: #474136;
    margin-left: 4px;
    margin-right: 4px;
}

.PlayBoxIcon {
    width: 46px;
    height: 46px;
    horizontal-align: center;
    vertical-align: middle;
    background-color: #6C5A3C;
}

.CurrentNodeInternal {
    width: 100%;
    height: 100%;
    margin: 19px;
    horizontal-align: center;
    vertical-align: middle;
    flow-children: down;
}

.CurrentNodeTitleLine
{
    margin-top: 16px;
    width: 100%;
    height: fit-children;
    flow-children: right;
}

.CurrentNodeTitleText {
    text-align: left;
    color: #FFBE55;
    vertical-align: middle;
    font-size: 32px;
	font-family: Raju;
}

#Separator {
    margin-left: 4px;
    margin-right: 4px;
}

.CurrentNodeIcon {
    width: 46px;
    height: 46px;
    horizontal-align: right;
    vertical-align: middle;
    background-color: #6C5A3C;
}

.CurrentNodeProgressBox {
    width: 100%;
    height: 60px;
    margin-top: 4px;
    border: 1px solid #6C5A3C;
}

#CurrentNodeProgressBar
{
    width: 100%;
    height: 100%;
    margin: 8px;
    background-color: #00000000;
    horizontal-align: left;
    vertical-align: bottom;
    saturation: 1.0;
}

#CurrentNodeProgressBar .ProgressBarLeft
{
    background-color: #FFBE55;
}