/* = Language Alternate Fonts ============ */

.Japanese
{
    font-family: Noto Sans JP Regular;
}

    .Japanese b
    {
        font-family: Noto Sans JP Bold;
    }

.Korean
{
    font-family: Noto Sans KR Regular;
}

    .Korean b
    {
        font-family: Noto Sans KR Bold;
    }

.SChinese
{
    font-family: Noto Sans SC Regular;
}

    .SChinese b
    {
        font-family: Noto Sans SC Bold;
    }

.TChinese
{
    font-family: Noto Sans TC Regular;
}

    .TChinese b
    {
        font-family: Noto Sans TC Bold;
    }
