.WorldSignage
{
    width: 100%;
    height: 100%;
    background-color: #5e5e5d00;
    border: 0px solid white;

	flow-children: down;
}

.WorldSignage Label
{
    horizontal-align: left;
    background-color: #5e5e5d00;
    font-family: Arial;
    font-weight: bold;
    border: 0px solid red;
}

.SignageTextLeft
{
	margin-top: 0px;
	horizontal-align: left;
}

.SignageTextCenter
{
	margin-top: 0px;
	horizontal-align: center;
}

.SignageTextRight
{
	margin-top: 0px;
	horizontal-align: right;
}

.InfestationControl
{
    color:#5e5e5dFF;
    font-size: 200px;
}

.EmergencyMainPowerShutoff
{
    color:#EEEEEEFF;
    font-size: 190px;
}

